@import "../../colors";

.navBar {
  text-align: center;
  .sortTitleBtn,
  .addNewBtn {
    width: fit-content;
    margin: 1rem;
    border: none;
    color: $white;
    background-color: $bgColor2;
    border-radius: 5vw;
    border: 0.1rem solid $color1;
    padding: 0.5rem 1rem;
    transition: all 1s;
    margin-bottom: 0;
    &:hover {
      border: 0.1rem solid $color2;
      background-color: $color1;
      color: $color2;
      font-weight: bold;
    }
    &:focus {
      outline: none;
      border: 0.1rem solid $color2;
      background-color: $color1;
      color: $color2;
      font-weight: bold;
    }
  }
}
.addNewModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $bgColor1TR;
  color: $white;
  .addNewForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bgColor3TR;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 70%;
    border-radius: 3vw;
    border: 0.1rem solid $color1;
    //overflow-y: scroll;
    max-height: 80%;
    h2 {
      color: $white;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 0.1rem double $color1;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.2);
    }
    .closeBtn {
      width: fit-content;
      position: absolute;
      top: 0%;
      right: 5%;
      margin: 1rem;
      border: none;
      color: $white;
      background-color: $bgColor2;
      border-radius: 5vw;
      padding: 0.5rem 1rem;
      border: 0.1rem solid $color1;
      transition: all 1s;
      &:hover {
        border: 0.1rem solid $color2;
        background-color: $color1;
        color: $color2;
        font-weight: bold;
      }
    }
    .title,
    .imgUrl {
      margin: 1rem;
      font-weight: bold;
      .titleInput,
      .urlInput {
        margin-left: 1rem;
        border-radius: 5vw;
        padding: 0.5rem 1rem;
        width: 40vw;
        outline: none;
        border: 0.1rem solid $color1;
        &:focus {
          border: 0.2rem solid $color3;
        }
      }
    }
    .preview {
      flex-direction: row;
      align-items: center;
      margin: 1rem;
      font-weight: bold;
      .previewImg {
        width: 150px;
        height: 150px;
        margin-left: 2rem;
        display: block;
      }
    }
    .addNewBtn {
      position: absolute;
      bottom: 5%;
      right: 5%;
      width: fit-content;
      margin: 1rem;
      border: none;
      color: $white;
      background-color: $bgColor2;
      border-radius: 5vw;
      border: 0.1rem solid $color1;
      padding: 0.5rem 1rem;
      transition: all 1s;
      &:hover {
        border: 0.1rem solid $color2;
        background-color: $color1;
        color: $color2;
        font-weight: bold;
      }
      &:focus {
        outline: none;
        border: 0.1rem solid $color2;
        background-color: $color1;
        color: $color2;
        font-weight: bold;
      }
    }
  }
}
