@import "../../colors";

.formModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $bgColor1TR;
  color: $white;
  .editForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bgColor3TR;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 70%;
    border-radius: 3vw;
    border: 0.1rem solid $color1;
    h2 {
      color: $white;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 0.1rem double $color1;
      font-weight: bold;
      text-transform: uppercase;
    }
    .closeBtn {
      width: fit-content;
      position: absolute;
      top: 0%;
      right: 5%;
      margin: 1rem;
      border: none;
      color: $white;
      background-color: $bgColor2;
      border-radius: 5vw;
      padding: 0.5rem 1rem;
      border: 0.1rem solid $color1;
      &:hover {
        border: 0.1rem solid $color2;
        background-color: $color1;
        color: $color2;
        font-weight: bold;
      }
    }
    .oldTitle {
      margin: 1rem;
      span {
        font-weight: bold;
      }
    }
    .newTitle {
      margin: 1rem;
      font-weight: bold;
      .titleInput {
        margin-left: 1rem;
        border-radius: 5vw;
        padding: 0.5rem 1rem;
        width: 40vw;
        outline: none;
        border: 0.1rem solid $color1;
        &:focus {
          border: 0.2rem solid $color3;
        }
      }
    }
    .saveBtn {
      width: fit-content;
      margin: 1rem;
      border: none;
      color: $white;
      background-color: $bgColor2;
      border-radius: 5vw;
      border: 0.1rem solid $color1;
      padding: 0.5rem 1rem;
      &:hover {
        border: 0.1rem solid $color2;
        background-color: $color1;
        color: $color2;
        font-weight: bold;
      }
      &:focus {
        outline: none;
        border: 0.1rem solid $color2;
        background-color: $color1;
        color: $color2;
        font-weight: bold;
      }
    }
  }
}
