body {
  background-image: url(./img/bg1.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Kalam", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
